<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/messageStyle.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <% if (messages.length > 0) { %>
    <ul>
      <% messages.forEach(message => { %>
      <li>
        <p><strong>User:</strong> <%= message.user %></p>
        <p><strong>Message:</strong> <%= message.message %></p>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No messages found.</p>
    <% } %>

    <a href="/">Back to message board</a>
  </body>
</html>
