<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/styles/messageFormStyle.css"
    />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="POST" action="/new">
      <div>
        <label for="user">Your Name:</label>
        <input type="text" id="user" name="user" required />
      </div>
      <div>
        <label for="message">Message:</label>
        <input type="text" id="message" name="message" required />
      </div>

      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
